<div id="permit-modal-new" class="modal fade permit" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3>New Permit</h3>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				
			</div>
			<div class="modal-body">
				<%= render 'permit_form' %>
			</div>
		</div>
	</div>
</div>

<script>
	var date, day, month, year;
	date = new Date;
	day = date.getDate();
	year = date.getFullYear();
	month = date.getMonth();
	$('.fechas').datepicker({
	  format: 'dd/mm/yyyy',
	  language: 'es',
	  autoclose: true,
	  todayHighlight: true,
	  startDate: new Date(year, month, day)
	});
</script>